.profile-form {
  text-align: left;
  background-color: rgba(255,255,255,.3);
  padding: 10px;

  label {
    color: #000;
  }
}


.profile-display {
  display: relative;

  .profileInfoWrapper {
    position: absolute;
    p {
      font-family: "ChunkFive";
      font-size: 36px;
      color: #eaeaea;
      text-align: left;
    }
  }

  .profilePicWrapper {
    float: right;
    width: 200px;
    @include transform(rotate(-10deg));
  }

}



