// Fonts
@include font-face("ChunkFive", "#{$fonts-folder}/ChunkFive/Chunkfive", $file-formats: svg ttf otf);

// 100% Image
body {
  @include background-image(url("#{$image-folder}/standard-issue-hero.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

// Center Main
.main-wrapper {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: "ChunkFive";
  font-size: 80px;
  color: #eaeaea;
}
